<div class="k-block">
    <button kendoButton [look]="'default'">Default button</button>
    <button kendoButton [look]="'outline'">Outline button</button>
    <button kendoButton [look]="'bare'">Bare button</button>
    <button kendoButton>Button</button>

    <button kendoButton [disabled]="true">Disabled button</button>
    <button kendoButton [primary]="true">Primary button</button>
    <button kendoButton [togglable]="true">Toogleable button</button>


    <!-- better view of buttons -->
    <!-- bare,outline -->
    <kendo-buttongroup [width]="'100'" look="outline">
        <button kendoButton [icon]="'calendar'">Icon button</button>
        <button kendoButton [icon]="'user'">Icon button</button>
        <button kendoButton [icon]="'check'">Icon button</button>
    </kendo-buttongroup>
    <button>asd</button>
    <div>
        <button>asd</button>
        <button>asd</button>
    </div>
</div>