<header>
    <div class="container">
        <a routerLink="/" class="logo">{{'choose_language' | translate}}</a>
        <nav>
            <ul>
                <li><a href="#" routerLink="/">Home</a></li>
                <li><a href="#" routerLink="/list">Swagger</a></li>
                <li><a href="#" routerLink="/angular-training">Event emitter</a></li>
                <li><a href="#" routerLink="/kendoToDo">KednoToDo</a></li>
                <li><a href="#" routerLink="/kendo">Kendo</a></li>
                <li><a href="#" routerLink="/observ">Observable</a></li>
                <li><a href="#" routerLink="/grid">Grid</a></li>

            </ul>
        </nav>
    </div>
</header>

<div class="container" [style]="'margin-top: 10px;'">
    <router-outlet></router-outlet>
</div>


<!-- <header>
    <app-header></app-header>
</header>

<div class="container">

</div>
<div class="container">

</div> -->



<!-- <header>
    <app-button-control-panel></app-button-control-panel>
</header>
<app-to-do></app-to-do> -->